<!DOCTYPE html>
<html>
<head>
<style>
	#north{
		background-image: url(img/head.jpg);
	}
	#north span{
		font-size: 49px;
	}
</style>
<meta charset="UTF-8">
<title>环境治理设施智能管理软件</title>
<link rel="stylesheet" type="text/css"
	href="extjs4/resources/ext-theme-classic/ext-theme-classic-all.css" />
<script src="extjs4/Ext.Base.js" type="text/javascript"></script>
<script src="extjs4/ext-all.js" type="text/javascript"></script>
<script type="text/javascript" src="extjs4/ext-lang-zh_CN.js"></script>
<script type="text/javascript" src="extjs4/shared/include-ext.js"></script>
<script type="text/javascript" src="extjs4/shared/examples.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<div id="center1">欢迎您使用环境治理设施智能管理软件</div>
<div id="north">
	<span>环境治理设施智能管理软件</span>
</div>
</body>
</html>